body {
background-image: url("Hex.jpg");
color: gray;
cursor: crosshair;
letter-spacing: 10;
}
label {
	display: block;
	font: 1rem 'Fira Sans', sans-serif;
	
}

input,
label {
	margin: .4rem0;
	width: 300px;

]
